.container {
    display: flexbox;
    max-width: 50%;
    max-height: 70%;
}
.avatar {
    max-width: 70%;
}
.button {
    margin-top: 5px;
    margin-bottom: 15px;
}
.chat {
    border: 1px solid black;
    padding: 25px;
}
.userimage {
    max-height: 50px;
    max-height: 50px;
}